*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background: #fff8f3;
    padding-top: 50px;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
color:#FD6E0A;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
}
.menu a{
    font-size: 20px;
}
.btn{
    background: #FD6E0A;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: wheat;
    cursor: pointer;

}
#banner{
 
    margin: 47px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner h2{
    font-size: 45px;
    font-weight: 600;
    color: #777;

}
#banner h1{
    font-size: 84px;
    margin-bottom : 20px;
}
#banner p{
    font-size: 20px;
    color: #777;
    margin-bottom: 15px;
    max-width: 1200px;
}
.Button{
    display: flex;
    gap: 15px;
}
.banner-img{
    max-width: 585px;
    vertical-align: middle;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

#about{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background: #fff8f3;
    padding: 131px 150px;
}
.section-heading h2{
    font-size: 45px;
    font-size: bold;
    padding-bottom: 25px;
}
.section-heading p{
    font-size: 18px;
    color: #777;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    color: #777;
    padding-bottom: 10px;
}
#skills {
    padding-top: 130px;
}
.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.skill-card{
    padding: 15px;
    max-width: 270px;
    box-shadow: 0 10px 15px 10px #c0b5b5;
}
.skill-card img{
    max-width: 44px;
    margin-bottom : 30px;
}
.skill-card img{
 font-size: 20px;
 color: #181818;
 margin-bottom: 20px;
}
.skill-card h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 20px;
    color: #777;
    line-height: 20px;
    margin-bottom: 29px;
}
#resume{
    padding-top: 130px ;   
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    
}
.resume-container hr{
    margin: 20px 0;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}
.resume-card{
    max-width: 510px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 15px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    color: #757575;
    
   
}